@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
}

header {
    width: 100%;
    height: 104px;
    background-color: black;
}

.container {
    width: 80%;
    height: 104px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-link {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.links a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.img-link-elem {
    margin-left: 5px;
    margin-right: 5px;
}

.slider-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.slider {
    margin-top: 30px;
}

.slider-preview-wrapper {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.slider-main-image {
    width: 50%;
}

.slider-card {
    display: flex;
    align-items: center;
    background-color: #1919190D;
    width: 400px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.slider-card img {
    margin-left: 20px;
    margin-right: 24px;
}

.title-card {
    color: black;
    font-weight: 600;
}

.afisha {
    margin-top: 120px;
}

.container-title-afisha {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.title-afisha-container {
    display: flex;
    width: 92%;
    justify-content: space-between;
}

.events-container {
    display: flex;
    align-items: center;
}

.events-container:hover {
    opacity: 0.6;
    cursor: pointer;
}

.title-afisha {
    font-weight: 700;
    font-size: 28px;
}

.event-title {
    font-weight: 700;
    color: #191919;
    margin-left: 15px;
}

.events-container img {
    width: 15%;
}

.container-afisha {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.tickets {

    margin-top: 100px;
}


.ticket {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 80px;
    background-color: #1919190D;
    padding: 22px 60px;
    border-radius: 10px;
}

.date {
    text-align: center;
    margin-right: 60px;
}

.day {
    font-weight: 700;
    font-size: 54px;
    color: #191919;
    opacity: 0.75;
}

.month {
    font-size: 700;
    font-size: 22px;
    color: #191919;
    opacity: 0.75;
}

.ticket-poster {
    width: 30%;
}

.desc-ticket {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 210px;
    margin-left: 50px;
}

.name {
    font-weight: 700;
    font-size: 23px;
    color: #191919;
}

.desc {
    font-weight: 400;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 60px;
    opacity: 0.75class="specification-card-img";
}

.specification {
    display: flex;
}

.specification-card {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.specification-title {
    margin-left: 20px;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.75;
}

.specification-card-img {
    width: 30%;
}

.btn-buy-ticket {
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    background-color: #05B093;
    font-weight: 600;
    font-size: 16px;
    border-radius: 50px;
}

.container-news {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-news {
    font-weight: 600;
    color: #191919;
    font-size: 28px;
    line-height: 67px;
    margin-bottom: 20px;
}

.news-cards {
    display: flex;
}

.news-card {
    width: 190px;
    margin-right: 135px;
}

.news-card-img {
    margin-bottom: 32px;
}

.main-news {
    width: 650px;
}

.title-card-news {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 24px;
    color: #191919;
}

.desc-card-news {
    opacity: 0.75;
    font-weight: 400;
    font-size: 16px;
    color: #191919;
}

.calendar-card {
    margin-top: 20px;
}

.calendar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1919190D;
    padding: 20px;
    border-radius: 0 0 20px 20px;
    
}

.select-btn {
    background-color: #05B093;
    border-radius: 5px;
    padding: 10px;
    border: none;
}

.select-btn:hover {
    opacity: 0.7;
    cursor: pointer;
}


.select-btn:active {
    background-color: #027360;
    border-radius: 5px;
}

.dates {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dates-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.date-btn {
    background-color: #1919194D;
    border-radius: 5px;
    padding: 15px 20px;
    border: none;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.date-btn:active {
    opacity: 0.7;
}

.date-btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.green {
    background-color: #05B093;
}

.mg-5 {
    margin-right: 5px;
}

.select-month {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5px;
}

.month-news {
    font-size: 32px;
    font-weight: 500;
}

.short-anons-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.container-header-short-anons {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.container-body-short-anons {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 70px;
}

.short-anons-title {
    font-size: 28px;
    font-weight: 600;
}

.short-anons-date {
    background-color: #05B093;
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    color: white;
    margin-right: 10px;
}

.number-date {
    font-size: 28px;
}

.month-date {
    font-size: 18px;
}

.short-anons-card {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.short-anons-card:hover {
    opacity: 0.7;
    cursor: pointer;
}

.card-name  {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

footer {
    background-color: #191919;
}

.footer-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
    justify-content: center;
}

.footer-container-column {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: start;
    justify-content: space-around;
    padding-top: 50px;
}

.footer-column-item {
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.footer-column-item-site {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.footer-events-name-contact {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-events-column {
    display: flex;
    flex-direction: column;
}

.footer-events-name {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.line {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
    width: 100%;
    background-color: white;
    opacity: 0.5;
}

.footer-text-company {
    color: white;
    opacity: 0.5;
    margin: 0 auto;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 15px;
}
